@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 48 96% 53%;
    --primary-foreground: 240 10% 3.9%;
    
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 183 96% 53%;
    --accent-foreground: 240 10% 3.9%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 183 96% 53%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 10%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 48 96% 53%; /* Bright Yellow */
    --primary-foreground: 240 10% 3.9%;
    
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 183 96% 53%; /* Cyan */
    --accent-foreground: 240 10% 3.9%;

    --destructive: 0 72% 51%; /* Bright Red */
    --destructive-foreground: 0 0% 98%;

    --border: 240 5% 25%;
    --input: 240 5% 15%;
    --ring: 183 96% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background-image: radial-gradient(hsl(var(--foreground)) 0.5px, transparent 0.5px);
    background-size: 10px 10px;
    background-color: hsl(var(--background));
  }
}

@layer components {
    .speech-bubble-handle {
        position: relative;
    }
    .speech-bubble {
        position: relative;
    }
    .speech-bubble::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-top-color: #ffffffd9;
        border-bottom: 0;
        border-left: 0;
        margin-left: -10px;
        margin-bottom: -20px;
    }
}
